<div class="card" style="width: 50%; height: 50%;">
  <div class="card-body">
    <div id="<%= dom_id publication %>">
      <div class="row">
        <% publication.departament.images.each_with_index do |image, index| %>
          <div class="col-md-4">
            <%= image_tag(image, width: 250, height: 250, class: "img-fluid rounded") %>
          </div>
        <% end %>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Descripcipción</th>
                <td><%= publication.description %></td>
              </tr>
              <tr>
                <th>Habitaciones</th>
                <td><%= publication.departament.bedrooms %></td>
              </tr>
              <tr>
                <th>Piso</th>
                <td><%= publication.departament.floor %></td>
              </tr>
              <tr>
                <th>Numero departamento</th>
                <td><%= publication.departament.number %></td>
              </tr>
              <tr>
                <th>Baños</th>
                <td><%= publication.departament.bathrooms %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>metros cuadrados</th>
                <td><%= publication.departament.squaremeters %></td>
              </tr>
              <tr>
                <th>Precio</th>
                <td><%= publication.departament.price %></td>
              </tr>
              <tr>
                <th>Cliente</th>
                <td><%= publication.departament.client.name %></td>
              </tr>
              <tr>
                <th>Edificio</th>
                <td><%= publication.departament.building.name %></td>
              </tr>
              <tr>
                <th>Estado</th>
                <td><%= publication.departament.status.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





