<div id="<%= dom_id client %>">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Nombre:</th>
        <td><%= client.name %></td>
      </tr>
      <tr>
        <th>Telefono:</th>
        <td><%= client.phone %></td>
      </tr>
      <tr>
        <th>Correo:</th>
        <td><%= client.email %></td>
      </tr>
      <tr>
        <th>Vendedor asignado:</th>
        <td><%= client.user.name %></td>
      </tr>
    </tbody>
  </table>
</div>