<table class="table table-striped">
  <thead>
    <tr>
      <th>Piso</th>
      <th>Numero depto</th>
      <th>Habitaciones</th>
      <th>baños</th>
      <th>mt cuadrados</th>
      <th>precio</th>
      <th>cliente</th>
      <th>edificio</th>
      <th>estado</th>
      <th>editar departamento</th>
      
    </tr>
  </thead>
  <tbody>
      <td><%= departament.floor %></td>
      <td><%= departament.number %></td>
      <td><%= departament.bedrooms %></td>
      <td><%= departament.bathrooms %></td>
      <td><%= departament.squaremeters %></td>
      <td><%= departament.price %></td>
      <td><%= departament.client.name %></td>
      <td><%= departament.building.name %></td>
      <td><%= departament.status.name %></td>
      <td><%= link_to "ir", edit_departament_path(departament) %></td>
    </tr>
  </tbody>
</table>
