<div id="<%= dom_id departament %>">
  <p>
    <strong>Floor:</strong>
    <%= departament.floor %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= departament.number %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= departament.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= departament.bathrooms %>
  </p>

  <p>
    <strong>Squaremeters:</strong>
    <%= departament.squaremeters %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= departament.price %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= departament.client_id %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= departament.building_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= departament.status_id %>
  </p>

</div>
