<p class="text-success"><%= notice %></p>

<%= render @building %>

<div>
  <%= link_to "Edit this building", edit_building_path(@building), class: "btn btn-dark" %> |
  <%= link_to "Back to buildings", buildings_path, class: "btn btn-dark" %>

  <%= button_to "Destroy this building", @building, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>